*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    scrollbar-width:none;
    ::-webkit-scrollbar{display: none;}
}

body {
    background-color: #baf3ba;
    
}

.back-to-top.active{                         /*back to top icon */
    visibility: visible;
    opacity: 1;
}
.back-to-top{                               /*back to top icon */
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    background: #a5f371;
    border-radius: 60px;
    z-index: 23;
    transition: all 0.4s;
    align-items: center!important;
    justify-content: center!important;
    display: flex!important;
} 


#navbox {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 20px;
    justify-content:space-between;
    background-color: #a5f371;
    box-shadow: -5px 5px 20px greenyellow;
    min-width:fit-content;
}

#logo{
    width: 120px;
}
.makeFlex{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    padding: 10px;
    
}
.makeFlex label{          /*centers company label*/
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
    margin: 7px;
    font-size: 50px;
}
.makeFlex label a{
    color: crimson;
    text-shadow: -3px 3px 7px #f5213b;
}
.navElement ul>li{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 50px;
    margin: 5px;
}
.navElement a{
    color: black;
    font-size: larger;
}



#notificationBox{
    width: 90vw;
    height: 30vw;
    opacity: 100%;
    background-color: aliceblue;
    display: flex;
    
}
.items{
    display: flex;
    justify-content: center;
    min-width: fit-content;
}

.homebox{
    width: 90vw;
    opacity: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px;
    border-radius: 2vw;
    border:2px solid slateblue;
    text-align:center;
    text-wrap:pretty;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-margin:5px;
    box-shadow:2px -2px 10px blue;
}
.homebox>h1{
    display: block;
    padding: 5px;
    margin: 4px;
    font-size: xx-large;
    animation: blink infinite 500ms;
    max-height: fit-content;
    flex: 0 1 auto;
}

@keyframes blink {
    0%{
        opacity: 40%;
        color: #21dcf5;
    }
    50%{
        opacity: 100%;
        color: rgb(255, 174, 0);
        text-shadow: -2px 1px 10px violet;
    }
    100%{
        opacity: 40%;
        color: rgb(94, 5, 248);
    }
} 

#attendancebox{
    width: 90vw;
    height: 40pc;
    background-color: #c5c5c5c7;
    opacity: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
}

#attendancepie{
    width: 250px;
    height: 250px;
    background-color: #21dcf5;
    border-radius: 50%;
    padding:1rem;
    align-self:center;
    margin: 20px;
}
#attendancetable{
    flex-direction: row;
    flex: auto;
    overflow: auto;
}

#attendancetable table,thead,tr,td,th{
    border: 2px solid black;
    border-spacing: 5px;
    padding: 3px;
    margin: 2px;
}
#attendancetable table{
    width: 100%;
}

