#heading{
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    color: rgb(234 77 146);
    margin-top: 50px;
    margin-bottom: 50px;
}
body{
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
    display: block;
}
#logo:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#login-form{
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    align-self: center;
    border: 10px solid rgb(1, 50, 80);
    border-radius: 10px;
    padding: 50px;
}
#login-heading{
    font-size: 50px;
    font-weight: bold;
    color:#FF9800;;
    margin-bottom: 50px;
}
#login-form input{
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgb(12, 55, 229);
    padding-left: 10px;
    font-size: 20px;
}
#footer{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(234 77 146);
    margin-top: 50px;
    margin-bottom: 50px;
}