#footer{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(234 77 146);
    margin-top: 50px;
    margin-bottom: 50px;
}
h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(230, 51, 11);
    margin-top: 50px;
    margin-bottom: 50px;
}
.head{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(240, 8, 8);
    margin-top: 50px;
    margin-bottom: 50px;
}

form{
    display: inline-block;
    text-align: center;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 7px solid rgb(15, 48, 28);
    border-radius : 10px;
    padding: 20px;
    font-size: 20px;
    font-display: bold;
}
div{
    margin-top: 30px;
    margin-bottom: 30px;
}

button{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid rgb(234 77 146);
    border-radius: 5px;
    padding: 6px;
    background-color: rgb(234 77 146);
    color: white;
    font-size: 20px;
    font-weight: bold;
}
input{
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 5px;
    padding: 6px;
    font-size: 20px;
    font-weight: bold;
}
label{
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 6px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(240, 182, 8);
}
a{
    color: aquamarine;
}