*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #74f8d7;
}
.head{
    margin: 50px;
    padding: 20px;
    display:flex;
    flex: auto;
    background-image: url("../img/background.jpeg");
    background-size: cover;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(47, 42, 42, 0.2);
    color: darkmagenta;
    opacity:initial;
    justify-content: center;
}

    

@keyframes alternateMovement{
    0%{
        transform: translate3d(0px,0px,0px);
        
    }
    50%{
        transform: translate3d(-10px,10px,-10px);
        text-shadow: 20px -20px 10px rgb(243, 82, 243);
        
    }

    100%{
        transform: translate3d();
    }
}
#logo{
    width: 100px;
    height: 100px;
}
.head h1{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.titlebar{
    animation-name: alternateMovement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
form {
    display: flex;
    flex-direction: column;
    align-items:safe;
    margin: 30px;
    padding: 20px;
    border:6px dotted rgb(0, 0, 0);
    color: rgb(237, 100, 116);
    width: 530px;
    justify-content: center;
}
form border{
    color: aqua;
}
#P23{                             /* centers the form in screen*/
    display: flex;
    justify-content: center;
}
fieldset{
    border: none;
}
fieldset input{
    height: 40px;
    border-radius: 20px;
    background-color: color-mix(in srgb, rgb(0, 255, 247) 50%, gray 50%);
    font-weight: 900;
    font-size: large;
    font-stretch:ultra-expanded;
    color:rgb(85, 85, 85);
}
.feild{
    font-size:20px;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}
.feild:hover{
    text-shadow: 2px 2px 0px rgb(170, 222, 72);
}
fieldset input:hover{
    box-shadow: 2px 2px 0px rgb(170, 222, 72);
}
.feild button{
    width: 100px;
    height: 5%;
    padding: 10px;
    margin: 15px;
    border-radius: 11px;
    color: rgb(248, 146, 14);
    background-color: rgba(120, 120, 192, 0.367);
    font-size: large;
    font-weight: 800;
    box-shadow: -2px 2px rgb(170, 222, 72);
}
form button{
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 15px;
    border-radius: 11px;
    color: rgb(248, 146, 14);
    background-color: rgba(120, 120, 192, 0.367);
    font-size: large;
    font-weight: 800;
    box-shadow: -2px 2px rgb(170, 222, 72);
}

#footer{
    padding:20px;
    margin: 20px;
}