*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #74f8d7;
}
.head{
    margin: 50px;
    padding: 20px;
    display:flex;
    flex: auto;
    background-image: url("../img/background.jpeg");
    background-size: cover;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(47, 42, 42, 0.2);
    color: darkmagenta;
    opacity:initial;
    justify-content: center;
}

    

@keyframes alternateMovement{
    0%{
        transform: translateX(-400px);
    }
   
    50%{
        transform: translateX(400px);
    }
    100%{
        transform: translateX(-400px);
    }
}
#logo{
    width: 100px;
    height: 100px;
}
.head h1{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 20px;
}
.titlebar{
    animation-name: alternateMovement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}